<!DOCTYPE html>
<html lang="en" class="max-h-screen">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/output.css" />
		<title>myClubHouse</title>
	</head>
	<body class="max-h-screen">
		<h1 class="rest text-3xl font-bold text-white-600">
			Hello, Tailwind! damn
		</h1>
	</body>
</html>
